<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SMB2ISOBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SMB2ISOBuilder.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SMB2ISOBuilder.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SMB2ISOBuilder.Properties.Settings>
            <setting name="GCR" serializeAs="String">
                <value />
            </setting>
            <setting name="ISO" serializeAs="String">
                <value />
            </setting>
            <setting name="ZIP" serializeAs="String">
                <value />
            </setting>
            <setting name="Output" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputName" serializeAs="String">
                <value />
            </setting>
        </SMB2ISOBuilder.Properties.Settings>
        <SMB2ISOBuilder.Settings>
            <setting name="SMB" serializeAs="String">
                <value />
            </setting>
            <setting name="Output" serializeAs="String">
                <value />
            </setting>
            <setting name="ZIP" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputName" serializeAs="String">
                <value />
            </setting>
        </SMB2ISOBuilder.Settings>
    </userSettings>
    <applicationSettings>
        <SMB2ISOBuilder.Settings>
            <setting name="GCR" serializeAs="String">
                <value>asdf</value>
            </setting>
        </SMB2ISOBuilder.Settings>
    </applicationSettings>
</configuration>